/Mini PAT - Electronic Components/dist/
/2021 Prac practise/nbproject/private/
/Hangman Autocomplete/nbproject/private/
/Hangman Autocomplete/build/
/ChatGPT EXAMPLE/nbproject/private/
/ChatGPT EXAMPLE/build/
/Inheritance 101/nbproject/private/
/Inheritance 101/build/
/DeferentationCalculator/nbproject/private/
/DeferentationCalculator/build/
/InheritancePrac2023/nbproject/private/
/InheritancePrac2023/build/
